.calendarRoot {
  width: -webkit-fill-available;
  padding: 16px;
}

.dayOfWeekHeaderCell {
  color: white;
  background-color: transparent;
  padding: 8px 0;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.daysOfWeek {
  width: 100%;
  display: grid;
  padding-top: 8px;
  padding-left: 8px;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.daysGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: 700px;
  position: relative;
  background-color: transparent;
}

.navigationHeader {
  display: flex;
  justify-content: space-between;
}

.monthNavArrowButtons {
  display: flex;
  gap: 16px;
}

.dateDisplay {
  padding: 16px 0px;
  color: var(--text-secondary);
}

.day {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 4px solid var(--border);
  box-shadow: 4px 4px 0 0 var(--border);
  transition: 100ms ease;
  text-decoration: none;
}

.dayToday {
  background-color: var(--highlight);
  color: var(--text-primary);
}

.dayToday:hover {
  cursor: pointer;
  background-color: var(--highlight-hover);
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 0 0 var(--border);
  transform: translate(2px, 2px);
}

.dayToday:active {
  transition: 50ms ease;
  box-shadow: 0 0 0 0 var(--border);
  transform: translate(4px, 4px);
}

.dayEnabled {
  background-color: var(--medium);
  color: var(--text-secondary);
}

.dayEnabled:hover {
  cursor: pointer;
  background-color: var(--medium-hover);
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 0 0 var(--border);
  transform: translate(2px, 2px);
}

.dayEnabled:active {
  transition: 50ms ease;
  box-shadow: 0 0 0 0 var(--border);
  transform: translate(4px, 4px);
}

.dayDisabled {
  background-color: grey;
  box-shadow: none;
  transform: translate(4px, 4px);
}

.dayContentWrapper {
  padding: 8px;
  text-decoration: none;
}

.monthArrowButtons {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .daysGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
  }

  .day {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    border: 4px solid var(--border);
    box-shadow: 4px 4px 0 0 var(--border);
    transition: 100ms ease;
    text-decoration: none;
  }

  .daysOfWeek {
    display: none;
  }

  .dayDisabled {
    display: none;
  }

  .floatingButton {
    position: fixed;
    bottom: 76px;
    right: 16px;
    z-index: 1000;
  }

  .navigationHeader {
    display: flex;
    justify-content: flex-end;
  }
}
