.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-size: inherit;
}

/* Classes locais para cada campo */
.inputText {
  width: 100%;
}

.textarea {
  width: 100%;
  min-height: 80px;
  resize: vertical;
}

.selectDropdown {
  width: 100%;
}

.error {
  color: red;
  font-size: inherit;
}
