/* Estilo base do card */
.card {
  background-color: var(--color-medium);
  border: 2px solid var(--color-secondary);
  padding: 15px;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  height: 250px;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Efeito pixelado com glow */
.pixel {
  box-shadow:
    0 4px var(--color-primary),
    1px 0 var(--color-accent);
  transition: all 0.2s ease;
}

.pixel:hover {
  transform: translate(2px, 2px);
  box-shadow: var(--glow-effect); /* Adiciona o efeito de brilho */
}

/* Data do card */
.cardDate {
  font-size: 10px;
  color: #ccc;
  margin-bottom: 5px;
}

/* Título do card */
.cardTitle {
  font-size: 14px;
  color: var(--color-highlight);
  border-bottom: 1px solid var(--color-accent);
  text-transform: uppercase;
  margin: 11px 0 15px;
  word-wrap: break-word;
  text-shadow: var(--glow-effect); /* Efeito de brilho no texto */
}

/* Status do card */
.cardStatus {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 79px;
  left: 22px;
  z-index: 3;
  max-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Cores dos status */
.cardStatus.confirmed {
  background-color: var(--color-highlight);
  color: var(--color-dark);
}

.cardStatus.pending {
  background-color: #f1c40f; /* Amarelo */
}

.cardStatus.recused {
  background-color: #e74c3c; /* Vermelho */
}

/* Descrição do card */
.cardDescription {
  background-color: #fff;
  color: #000;
  padding: 25px;
  border-radius: 5px;
  margin-top: auto;
  font-size: 24px;
  font-family: Arial, sans-serif;
  border: 2px solid #ccc;
  flex-grow: 1;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra interna */
}

/* Lista de personagens */
.characterList {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.characterList li {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: #000;
  margin-bottom: 3px;
  word-wrap: break-word;
  text-shadow: 1px 1px 0 var(--color-accent); /* Efeito pixelado no texto */
}