@import "flatpickr/dist/flatpickr.min.css";
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

:root {
  /* Paleta Principal */
  --font-new-rocker: "New Rocker", system-ui;
  --default: #ffffff;
  --default-hover: #f0f0f0;
  --primary: #a21e22; /* Vermelho intenso - elementos principais */
  --primary-hover: #87000d;
  --primary-active: #510f11;
  --secondary: #711519; /* Vermelho escuro - elementos secundários */
  --secondary-hover: #600a12;
  --secondary-active: #390a0d;
  --accent: #db8026; /* Laranja - destaques */
  --accent-hover: #cc6100;
  --accent-active: #6d4114;
  --highlight: #f5c711; /* Amarelo - elementos de atenção */
  --highlight-hover: #dba700;
  --highlight-active: #7a6308;
  --medium: #3f1217; /* Vinho - elementos estruturais */
  --medium-hover: #1f090b;
  --medium-active: #161513;
  --dark: #000000; /* Preto - fundo principal */

  --background: #2d2d2d;
  --foreground: #ffffff;
  --border: #000;
  --border-size: 1px;
  --ring: #000;
  --muted: #6c757d;

  /* Textos */
  --text-primary: #000;
  --text-secondary: #fff;
  --glow-effect: 0 0 10px rgba(0, 230, 118, 0.5),
    0 0 20px rgba(0, 230, 118, 0.3); /* Efeito de brilho */

  --navbar-height: 85px;

  --drawer-width: 300px;
  --drawer-width-mobile: 80vw;
  --drawer-width-tablet: 50vw;
  --drawer-width-large: 500px;
}

html {
  height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-new-rocker); /* ← AQUI */
  font-size: 16px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

input,
textarea,
select {
  padding: 7px;
  background-color: var(--dark);
  border: 2px solid var(--secondary);
  color: var(--text-secondary);
}

main {
  padding-top: 100px;
  padding-bottom: 72px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
