@import 'flatpickr/dist/flatpickr.min.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  /* Paleta Principal */
  --default: #ffffff;
  --default-hover: #F0F0F0;
  --primary: #A21D21;    /* Vermelho intenso - elementos principais */
  --primary-hover: #88181B; 
  --secondary: #72161A;  /* Vermelho escuro - elementos secundários */
  --secondary-hover: #72161A;
  --accent: #DC8126;     /* Laranja - destaques */
  --accent-hover: #C97320;
  --highlight: #F7C90B;  /* Amarelo - elementos de atenção */
  --highlight-hover: #D9AF09;
  --medium: #411117;     /* Vinho - elementos estruturais */
  --medium-hover: #300D12;
  --dark: #1e1e1e;       /* Preto azeitona - fundo principal */

  --background: #1e1e1e;
  --foreground: #FFFFFF;
  --border: #000;
  --border-size: 4px;
  --ring: #000;
  --muted: #6C757D;
  
  /* Textos */
  --text-primary: #000;
  --text-secondary: #fff;;
  --glow-effect: 0 0 10px rgba(0, 230, 118, 0.5), 0 0 20px rgba(0, 230, 118, 0.3); /* Efeito de brilho */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: var(--background);
  color: var(--text-primary);
  /* @apply antialiased; */
}

input, textarea, select {
  padding: 7px;
  background-color: var(--dark);
  border: 2px solid var(--secondary);
  color: var(--text-secondary);
}
