.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: fit-content;
  padding: 8px 8px;
  gap: 5px;
  width: auto;
}

.optionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none !important;
  width: 100%;
  border-bottom: 1px solid var(--muted);
  padding: 8px 8px 10px 8px;
  color: var(--text-secondary);
  transition: background-color 0.2s ease, transform 0.05s ease, box-shadow 0.05s ease;
}

.optionContainer:last-child {
  border-bottom: none;
}

.optionText {
  color: var(--text-secondary);
  font-size: inherit;
  margin-left: 8px;
  white-space: nowrap;
  padding-top: 4px;
}

.optionContainer:hover {
  cursor: pointer;
  background-color: var(--medium-hover);
  box-shadow: 2px 2px 0 0 var(--border);
  transform: translate(2px, 2px);
}

.optionContainer:active {
  transition: 50ms ease;
  box-shadow: 0 0 0 0 var(--border);
  transform: translate(4px, 4px);
}
