.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  outline: none;
  border-radius: 0px;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--border);
  cursor: pointer;
  
  /* Transições otimizadas */
  transition: all 100ms ease;
  box-shadow: 4px 4px 0 0 var(--border);
  transform: translate(0, 0);
}

.button:hover {
  background-color: var(--foreground);
  box-shadow: 2px 2px 0 0 var(--border);
  transform: translate(2px, 2px);
}

.button:active {
  box-shadow: 0 0 0 0 var(--border);
  transform: translate(4px, 4px);
  transition-duration: 50ms;
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--foreground);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button:disabled:focus-visible {
  outline: none;
  box-shadow: none;
}

/* Primary - Vermelho (Default 1) - Para voltar/desfazer */
.button[data-variant="primary"] {
  background-color: var(--primary);
  color: var(--text-secondary);
}

.button[data-variant="primary"]:hover {
  background-color: var(--primary-hover);
}

.button[data-variant="primary"]:active {
  background-color: var(--primary-active);
  border-color: var(--primary-active);
}


/* Secondary - Amarelo (Default 2) - Para confirmar ações gerais */
.button[data-variant="secondary"] {
  background-color: var(--highlight);
  color: var(--text-primary);
}

.button[data-variant="secondary"]:hover {
  background-color: var(--highlight-hover);
}

.button[data-variant="secondary"]:active {
  background-color: var(--highlight-active);
  border-color: var(--highlight-active);
}

/* Accent - Laranja (Default 3) - Para confirmar em cards/pop-ups */
.button[data-variant="accent"] {
  background-color: var(--accent);
  color: var(--text-primary);
}

.button[data-variant="accent"]:hover {
  background-color: var(--accent-hover);
}

.button[data-variant="accent"]:active {
  background-color: var(--accent-active); /* Marrom escuro para clicked */
  border-color: var(--accent-active);
}

/* Highlight - Vermelho escuro (Variante 01) - Para voltar/desfazer em cards */
.button[data-variant="highlight"] {
  background-color: var(--secondary);
  color: var(--accent); /* Dourado claro */
  border: 2px solid var(--accent);
}

.button[data-variant="highlight"]:hover {
  background-color: var(--secondary-hover);
  border-color: 2px var(--accent-hover); /* Bordas douradas no hover */
  color: var(--accent-hover);
}

.button[data-variant="highlight"]:active {
  background-color: var(--secondary-active); /* Vermelho mais escuro para clicked */
  color: var(--accent-active); /* Dourado escuro para clicked */
  border-color: var(--secondary-active);
}

/* Medium - Vermelho escuro (Variante 02) - Para voltar/desfazer em cards */
.button[data-variant="medium"] {
  background-color: var(--medium);
  color: var(--primary); /* Vermelho médio */
  border: 2px solid var(--primary);
}

.button[data-variant="medium"]:hover {
  background-color: var(--medium-hover);
  border-color: 2px var(--primary-hover); /* Bordas vermelhas no hover */
  color: var(--primary-hover);
}

.button[data-variant="medium"]:active {
  background-color: var(--medium-active); /* Quase preto para clicked */
  color: var(--primary-active); /* Vermelho escuro para clicked */
  border-color: var(--medium-active);
}

/* Outline - Preto (Variante 03) - Para ajuda/explicação */
.button[data-variant="helper"] {
  background-color: var(--dark);
  color: var(--highlight); /* Amarelo brilhante */
  border: 1px solid var(--highlight); /* Bordas amarelas */
}

.button[data-variant="helper"]:hover {
  background-color: var(--dark);
  border-color: 1px var(--highlight-hover);
  color: var(--highlight-hover);
}

.button[data-variant="helper"]:active {
  background-color: var(--dark);
  color: var(--highlight-active); /* Amarelo dessaturado para clicked */
  border-color: var(--dark);
}

.button[data-variant="icon"] {
  background-color: var(--foreground);
  border: none;
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 9999px;
}

.button[data-variant="icon"]:hover {
  background-color: var(--accent);
}

.button[data-size="sm"] {
  height: 2.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.button[data-size="lg"] {
  height: 2.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.button[data-size="icon"] {
  height: 2.5rem;
  width: 2.5rem;
}

.button[data-status="pressed"] {
  box-shadow:  0 0 0 0 var(--border);
  transform: translate(4px, 4px);
}
